@font-face {
    font-family: 'vanguard_cfmedium';
    src: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196782/vanguard-cf-medium-webfont.eot?1522196782');
    src: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196782/vanguard-cf-medium-webfont.eot?1522196782') format('embedded-opentype'),
         url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196852/vanguard-cf-medium-webfont.woff2?1522196852') format('woff2'),
         url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196830/vanguard-cf-medium-webfont.svg?1522196830') format('truetype'),
         url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196830/vanguard-cf-medium-webfont.svg?1522196830') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'vanguard_cfbold';
    src: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196718/vanguard-cf-bold-webfont.eot?1522196718');
    src: url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196718/vanguard-cf-bold-webfont.eot?1522196718') format('embedded-opentype'),
         url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196760/vanguard-cf-bold-webfont.woff2?1522196760') format('woff2'),
         url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196749/vanguard-cf-bold-webfont.ttf?1522196749') format('truetype'),
         url('http://d3n8a8pro7vhmx.cloudfront.net/themes/5abac5d3c4b9f59735000000/attachments/original/1522196736/vanguard-cf-bold-webfont.svg?1522196736') format('svg');
    font-weight: bold;
    font-style: normal;

}