{% assign page_bg = false %} {% if page.features_count > 0 %} {% for feature in page.features limit: 1 %}{% if feature.headline
!= 'blank' %}{% assign page_bg = feature.image_url %}{% endif %}{% endfor %} {% endif %}

<div id="leader" class="{% if page_bg %}bg{% endif %}" {% if page_bg %}style="background-image: url({{ page_bg }});" {% endif
    %}>
    <div class="outer">
        <div class="inner">
            {% include "breadcrumbs" %}

            <h1 class="headline">{{ page.headline }}</h1>

            <div id="intro" class="intro">
                {{ page.petition.intro }}
            </div>

            <div class="share-sheet padtopless clearfix">
                <div class="facebook-cell cell">
                    {% if request.sorta_logged_in? %}
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dom-canadianlabour.nationbuilder.com/" target="_blank">Share</a>
                    {% else %}
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//dom-canadianlabour.nationbuilder.com/" target="_blank">Share</a>
                    {% endif %}
                </div>
                <div class="twitter-cell cell">
                    {% if request.sorta_logged_in? %}
                    <a href="https://twitter.com/home?status=Join%20the%20movement%20for%20safer,%20violence%20and%20harassment-free%20workplaces!%20Add%20your%20voice%20now%20%23canlab%20%20www.action.canadianlabour.ca"
                        target="_blank">Tweet</a>
                    {% else %}
                    <a href="https://twitter.com/home?status=Join%20the%20movement%20for%20safer,%20violence%20and%20harassment-free%20workplaces!%20Add%20your%20voice%20now%20%23canlab%20%20www.action.canadianlabour.ca"
                        target="_blank">Tweet</a>
                    {% endif %}
                </div>
            </div>
            {% if page.text_keyword_instructions.size > 0 %}
            <div class="padbottom padtopmore">
                or {{ page.text_keyword_instructions }}
            </div>
            {% endif %}

        </div>
    </div>
</div>

<div id="content">
    <div class="outer">
        <div class="inner">
            {% if page.petition.content.size > 0 %}
            <div id="petition-content">
                {{ page.petition.content }}
            </div>
            {% endif %} {% if page.show_stream? %} {% include "page_stream" %} {% endif %}
        </div>
    </div>
</div>