//style overrides
$light: #FAAF25;
$med: #5FBAE8;
$dark: #06558C;

$light-on: lighten($light, 8%);
$med-on: lighten($med, 8%);
$dark-on: lighten($dark, 8%);

@import 'variables';
//@import 'fonts';
@import 'layout';
@import 'reset';
@import 'forms';
@import 'nationbuilder';
@import 'nav';
@import 'pages';
@import 'nodes';
@import 'blocks';
@import 'backgrounds';
@import 'content';
@import 'dom';
@import 'custom-fonts';